@model MES.WEB.Models.DateVm

@{
    ViewBag.Title = "Приход на склад";
}

@*<link href="~/Content/themes/base/all.css" rel="stylesheet" />*@


<div id="alert-message"></div>
<p>
    <a href="@Url.Action("AddJmtDetailPartial")" id="addId" class="btn btn-success addtn">Добавить</a>
</p>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">История прихода деталей на склад</h3>
    </div>
    <!-- /.box-header -->
    <br />
    <div class="box-body form-inline">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
</div>

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Сводный отчет</h3>
    </div>
    <!-- /.box-header -->
    
    <div class="box-body">
        <div id="resultsGroup">
        </div>
    </div>
</div>

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Подробный отчет</h3>
    </div>
    <!-- /.box-header -->
   
    <div class="box-body">
        <div id="results">
        </div>
    </div>
</div>




@section scripts
{
    <script>
        function view() {
            var startDate = $('#StartDate').val();
            startDate = encodeURIComponent(startDate);
            var endDate = $('#EndDate').val();
            endDate = encodeURIComponent(endDate);
            $('#results').load('@Url.Action("HistArrivalPartial", "Arrival")?startDate=' +
                startDate +
                '&endDate=' +
                endDate);

            $('#resultsGroup').load('@Url.Action("HistArrivalPartialGroup", "Arrival")?startDate=' +
                startDate +
                '&endDate=' +
                endDate);

        }

        $(function () {
            var idToUpdate = $('#results');
            $.get("/Arrival/HistArrivalPartial",
                function (data) {
                    $(idToUpdate).html(data);
                });
        });

        $(function () {
            var idToUpdate = $('#resultsGroup');
            $.get("/Arrival/HistArrivalPartialGroup",
                function (data) {
                    $(idToUpdate).html(data);
                });
        });

        document.getElementById("stock").className = "active treeview menu-open";
        document.getElementById("histArrival").className = "active";
    </script>



}