<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/dist/css/skins/_all-skins.css" rel="stylesheet" />*@
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>LTE</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Войти", "Login", "Account")</li>
                            <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
                        }
                        else
                        {
                            <li>
                                <a>Привет @User.Identity.Name</a>
                            </li>
                            <li>@Html.ActionLink("Выход", "Logout", "Account")</li>
                        }
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-th"></i> <span>Главная</span>
                        </a>
                    </li>

                    <li class="treeview" id="stock">
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i> <span>Склад деталей</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="stockBalanceJmt"><a href="@Url.Action("StockBalanceJmt", "Stock")"><i class="fa fa-circle-o"></i>Остаток на складе</a></li>
                            <li id="defectJmtDetail"><a href="@Url.Action("HistDefect", "Stock")"><i class="fa fa-circle-o"></i> Брак</a></li>
                            <li id="histArrival"><a href="@Url.Action("Index", "Arrival")"><i class="fa fa-circle-o"></i>Приход деталей на склад</a></li>
                        </ul>
                    </li>

                    <li id="solderings">
                        <a href="@Url.Action("Soldering", "Soldering")">
                            <i class="fa fa-th"></i> <span>Пайки</span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-flask"></i> <span>Паста</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" style="display: none;">
                            <li><a href="#"><i class="fa fa-circle-o"></i>Остаток на складе</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Шелкография</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Дозатор</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-check"></i> <span>Проверка</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" style="display: none;">
                            <li><a href="#"><i class="fa fa-circle-o"></i>ЖМТ</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>ЕГР</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-shopping-basket"></i> <span>Склад готовой продукции</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" style="display: none;">
                            <li><a href="#"><i class="fa fa-circle-o"></i>ЖМТ</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>ЕГР</a></li>
                        </ul>
                    </li>


                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
 
    @Scripts.Render("~/bundles/jquery-val")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)

</body>
</html>
