<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
  
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>LTE</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                @{Html.RenderAction("ShowProfile", "Account");}
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-th"></i> <span>Главная</span>
                        </a>
                    </li>

                    <li class="treeview" id="stock">
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i> <span>Склад деталей</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li id="stockBalanceJmt"><a href="@Url.Action("StockBalanceJmt", "Stock")"><i class="fa fa-circle-o"></i>Остаток на складе</a></li>
                            <li id="histArrival"><a href="@Url.Action("Index", "Arrival")"><i class="fa fa-circle-o"></i>Приход деталей на склад</a></li>
                            <li id="defectJmtDetail"><a href="@Url.Action("Defect", "Stock")"><i class="fa fa-circle-o"></i> Брак</a></li>
                        </ul>
                    </li>

                    <li id="assembly">
                        <a href="@Url.Action("Index", "Assembly")">
                            <i class="fa fa-wrench"></i> <span>Сборка</span>
                        </a>
                    </li>

                    <li id="solderings">
                        <a href="@Url.Action("Soldering", "Soldering")">
                            <i class="fa fa-fire"></i> <span>Пайки</span>
                        </a>
                    </li>

                    <li id="checkJmt">
                        <a href="@Url.Action("Index", "CheckJmt")">
                            <i class="fa fa-check"></i> <span>Проверка</span>
                        </a>
                    </li>

                    <li id="boxing">
                        <a href="@Url.Action("Index", "Boxing")">
                            <i class="fa fa-check"></i> <span>Упаковка</span>
                        </a>
                    </li>



                    <li id="finishedGoodsWarehouse">
                        <a href="@Url.Action("Index", "FinishedGoodsWarehouse")">
                            <i class="fa fa-shopping-basket"></i> <span>Склад готовой продукции</span>
                        </a>
                    </li>

                    
                    @if (User.IsInRole("admin"))
                    {
                        <li class="header">Администрирование</li>
                        <li id="finishedGoodsWarehouse">
                            <a href="@Url.Action("Register", "Account")">
                                <i class="fa fa-registered"></i> <span>Добавить пользователя</span>
                            </a>
                        </li>
                    }

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/mes")
    

    @RenderSection("scripts", false)

</body>
</html>
