@model MES.WEB.Models.DateVm

@{
    ViewBag.Title = "Сборка";
}


<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<p>

    <div id="alert-message"></div>

    <a href="@Url.Action("AddAssemblyPartial")" id="addId" class="btn btn-success addtn">Добавить сборку</a>
</p>
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">История прихода деталей на склад</h3>
    </div>
    <!-- /.box-header -->
    <br />
    <div class="form-inline">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <hr />
    <div class="box-body">
        <div id="results">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="RP_player_5 horizontal"><div class="rp-header"><a href="https://radiopotok.ru/" target="_blank">Radio online</a></div></div>
        <script type="text/javascript" src="//yandex.st/jquery/1.8.2/jquery.min.js"></script>
        <script async type="text/javascript" src="//radiopotok.ru/f/script5/61e5eb73dbb45e3276a8f500dff93dbb.js" charset="UTF-8"></script>

    </div>
    <div class="col-md-6">
        <div id="cp_widget_f2c610d3-29fb-4da4-b51b-7657ab5cd0af">...</div>
        <script type="text/javascript">
            var cpo = []; cpo["_object"] = "cp_widget_f2c610d3-29fb-4da4-b51b-7657ab5cd0af"; cpo["_fid"] = "AAIAPN-5hsYa";
            var _cpmp = _cpmp || []; _cpmp.push(cpo);
            (function () {
                var cp = document.createElement("script"); cp.type = "text/javascript";
                cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
                var c = document.getElementsByTagName("script")[0];
                c.parentNode.insertBefore(cp, c);
            })();</script><noscript><span>Book</span></noscript>

    </div>
</div>





@section scripts
{
    <script>
        function view() {
            var startDate = $('#StartDate').val();
            startDate = encodeURIComponent(startDate);
            var endDate = $('#EndDate').val();
            endDate = encodeURIComponent(endDate);
            $('#results').load('@Url.Action("ListPartial", "Assembly")?startDate=' +
                startDate +
                '&endDate=' +
                endDate);
        }

        $(function () {
            var idToUpdate = $('#results');
            $.get("/Assembly/ListPartial",
                function (data) {
                    $(idToUpdate).html(data);
                });
        });
        document.getElementById('assembly').className = "active";



    </script>



}

