@model IEnumerable<MES.WEB.Models.DisplayArrivalOfDetailVm>

@{
    ViewBag.Title = "История прихода";
}
<link href="~/Content/datatables.net-bs/dataTables.bootstrap.css" rel="stylesheet" />
<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">История прихода</h3>
        </div>
        <div class="box-body">
            <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NameDetail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Count)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NameDetail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "EditArrival", new {id = item.Id}, new {@class = "btn btn-warning"}) 
                                    @Html.ActionLink("Delete", "DeleteArrival", new {id = item.Id}, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/datatables.net-bs/dataTables.bootstrap.js"></script>

<script>
    document.getElementById("stock").className = "active treeview menu-open";
    document.getElementById("histArrival").className = "active";
</script>


